%h2 Sign Up

= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal') do |f|
  = devise_error_messages!

  .form-group
    = f.label :given_name, class: ['col-sm-2', 'control-label']
    .col-sm-10= f.text_field :given_name, {:autofocus => true, class: 'form-control'}

  .form-group
    = f.label :family_name, class: ['col-sm-2', 'control-label']
    .col-sm-10= f.text_field :family_name, {:autofocus => true, class: 'form-control'}

  .form-group
    = f.label :nickname, class: ['col-sm-2', 'control-label']
    .col-sm-10= f.text_field :nickname, {:autofocus => true, class: 'form-control'}

  .form-group
    = f.label :email, class: ['col-sm-2', 'control-label']
    .col-sm-10= f.email_field :email, {:autofocus => true, class: 'form-control'}

  - if f.object.password_required?
    .form-group
      = f.label :password, class: ['col-sm-2', 'control-label']
      .col-sm-10= f.password_field :password, class: 'form-control'

    .form-group
      = f.label :password_confirmation, class: ['col-sm-2', 'control-label']
      .col-sm-10= f.password_field :password_confirmation, class: 'form-control'

  %div
    = f.submit "Sign up", class: [:btn, 'btn-default']

= render "devise/shared/links"
