= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-1 control-label'
    .col-sm-11
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :icon, class: 'col-sm-1 control-label'
    .col-sm-11
      = f.text_field :icon, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label'
    = f.text_area :description, class: 'form-control'
  
  = f.submit 'Save', class: 'form-control'
