= form_for @drop do |f|
  - if @drop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@drop.errors.count, "error")} prohibited this drop from being saved:"
      %ul
        - @drop.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :shift, class: ['col-sm-2', 'control-label']
    .col-sm-10= f.collection_select :shift_id, current_user.shifts.where('start >= ?', Time.now).order(:start), :id, :to_s, { selected: @shift ? @shift.id : nil }, { class: 'form-control' }

  .form-group
    = f.label :reason, class: ['col-sm-2', 'control-label']
    .col-sm-10= f.text_area :reason, class: 'form-control'

  .actions
    = f.submit 'Save', class: [:btn, 'btn-primary']
