%h1 Listing Drops

%table.datatable
  %tr
    %th User
    %th Shift
    %th Time
    %th Reason
    %th

  - @drops.each do |drop|
    %tr
      %td= drop.user.full_name if drop.user
      %td= drop.shift
      %td= drop.time
      %td= drop.reason
      %td
        = link_to 'Show', drop, class: [:btn, 'btn-default']
        = link_to 'Edit', edit_drop_path(drop), class: [:btn, 'btn-default']
        = link_to 'Destroy', drop, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:btn, 'btn-default']

= link_to 'New Drop', new_drop_path, class: [:btn, 'btn-default']
