%h1 Listing drops

%table
  %tr
    %th Shift
    %th Time
    %th Reason
    %th
    %th
    %th

  - @drops.each do |drop|
    %tr
      %td= drop.shift
      %td= drop.time
      %td= drop.reason
      %td= link_to 'Show', drop
      %td= link_to 'Edit', edit_drop_path(drop)
      %td= link_to 'Destroy', drop, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Drop', new_drop_path
