%h1 Listing Users

%table.datatable
  %tr
    %th Given Name
    %th Family Name
    %th Nickname
    %th E-Mail
    %th Shifts
    %th Unworked
    %th

  - @users.each do |user|
    %tr
      %td= user.given_name
      %td= user.family_name
      %td= user.nickname
      %td= link_to user.email, "mailto:" + user.email
      %td= user.shifts.count
      %td= user.shifts.where('"end" > ?', Time.now).count
      %td
        = link_to 'Show', user, class: [:btn, 'btn-default']
        = link_to 'Edit', edit_user_path(user), class: [:btn, 'btn-default']
        = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:btn, 'btn-default']

= link_to 'New User', new_user_path, class: [:btn, 'btn-default']
