%p#notice= notice

%ul
  %li
    Given Name:
    = @user.given_name
  %li
    Family Name:
    = @user.family_name
  %li
    Nickname:
    = @user.nickname
  %li
    E-Mail:
    = @user.email
  %li
    - if @user.roles.count == 0
      No Roles
    - else
      Roles:
      %ul
        - @user.roles.find_each do |role|
          %li= role.name
  - if @user.shifts.count == 0
    %li No Shifts

- if @user.shifts.count > 0
  - @shifts = @user.shifts
  = render 'shifts/table'
    

= link_to 'Edit', edit_user_path(@user), class: [:btn, 'btn-default']
= link_to 'Back', users_path, class: [:btn, 'btn-default']
