= form_for @shift do |f|
  - if @shift.errors.any?
    #error_explanation
      %h2= "#{pluralize(@shift.errors.count, "error")} prohibited this shift from being saved:"
      %ul
        - @shift.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :start
    = f.datetime_select :start
  .field
    = f.label :end
    = f.datetime_select :end
  .field
    = f.label :size
    = f.text_field :size
  .field
    = f.label :task
    = f.collection_select :task_id, Task.all, :id, :name, { prompt: "Task" , :selected => @shift.task ? @shift.task.id : nil }
  .field
    = f.label :workers
    = f.collection_select :worker_ids, User.all, :id, :full_name, { :selected => @shift.workers.collect(&:id) }, { multiple: true }
  .actions
    = f.submit 'Save', class: [:btn, 'btn-default']
