%table#shift-table
  %tr
    %th Start
    %th End
    %th Size
    %th Needed
    %th Task
    - if params
      %th

  - @shifts.each do |shift|
    %tr
      %td= shift.start
      %td= shift.end
      %td= shift.size
      %td= shift.needed
      %td= link_to_if params,  shift.task.name, shift if shift.task
      - if params
        %td
          = link_to 'Show', shift, class: [:btn, 'btn-default']
          - if defined? can? and can? :update, shift
            = link_to 'Edit', edit_shift_path(shift), class: [:btn, 'btn-default']
          - if defined? can? and can? :destroy, shift
            = link_to 'Delete', shift, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:btn, 'btn-default']
