%h1 Clone Shifts

= form_tag clone_shifts_path do

  .field
    = label_tag 'From Start'
    = date_select 'clone', 'from_start'

  .field
    = label_tag 'From End'
    = date_select 'clone', 'from_end'

  .field
    = label_tag 'To'
    = date_select 'clone', 'to'

  .field
    = submit_tag 'Clone'
