- if params[:layout] == 'table'
  = render 'table'
- else
  #loading-modal.modal.fade{'aria-hidden' => false}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ data: { dismiss: 'modal' } } ×
          %h3.modal-title Loading
        .modal-body
          = image_tag 'http://dhappy.org/.../image/icon/loading/', class: 'loading-icon'

  #shifts-form
    = form_tag take_shifts_path do
      - if can? :read, User
        #users-modal.modal.fade{'aria-hidden' => false}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{ data: { dismiss: 'modal' } } ×
                %h3.modal-title Select Users
              .modal-body
                = collection_select :shift, :worker_ids, User.all, :id, :full_name, {}, { multiple: true, id: 'users', class: 'form-control' }
              .modal-footer
                %button.btn.btn-default{ data: { dismiss: 'modal' } } Close
                = submit_tag 'Add Shifts', class: [:btn, 'btn-primary ']

  - if not current_user
    .alert.alert-info
      Select desired shifts then click
      %button#take-shifts.btn.btn-default.btn-primary Take Shifts

  #shifts

  %button#take-shifts.btn.btn-default.btn-primary Take Shifts
