= @start_date
= @end_date

%ul
  - @tasks.each do |task|
    %li
      = task.name
      %ol
      - hour = @start_hour
      - begin
        %li
          = hour
          %ol
            - day = @start_date
            - begin
              %li= day
            - end while (day += 24*60*60) < @end_date
      - end while (hour += 1) < @end_hour
