= @start_date
= @end_date

%ul
  - @tasks.each do |task|
    %li
      = task.name
      %ol
        - shifts = Shift.where('start >= ? AND start < ? AND task_id = ?', @start_date, @end_date, task)
        - if shifts.count == 0
          %li No Shifts
        - else
          - start_hour, end_hour = shifts.collect{ |s| s.start.hour }.minmax
          - (start_hour .. end_hour + 1).step(1) do |hour|
            %li
              = sprintf '%d–%d:00', hour, hour + 1
              %ol
                - (@start_date.to_i .. @end_date.to_i).step(24*60*60) do |timestamp|
                  - day = Time.at(timestamp).change(hour: hour)
                  %li
                    = day
                    %ul
                      - task.shifts.where('start >= ? AND start < ?', day, day + 1.hour).each do |shift|
                        = link_to 'Shift', shift
                        - shift.workers.each do |worker|
                          %li= worker.email
              
              
