%p#notice= notice

%p
  %b Start:
  = @shift.start
%p
  %b End:
  = @shift.end
%p
  %b Size:
  = @shift.size
%p
  %b Task:
  = link_to @shift.task.name, @shift.task if @shift.task
-# if can? :read, @shift.workers
- if can? :read, User
  %p
    %b Workers:
    - if @shift.workers.count == 0
      None
    - else
      %ul
        - @shift.workers.find_each do |worker|
          %li= worker.full_name

- if @shift.worker?(current_user)
  %p You are signed up for this shift
  = link_to 'Drop', drop_shift_path(@shift), class: [:btn, 'btn-danger']

- if can? :destroy, @shift
  = link_to 'Delete', @shift, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:btn, 'btn-default']
- if can? :update, @shift
  = link_to 'Edit', edit_shift_path(@shift), class: [:btn, 'btn-default']
= link_to 'Back', shifts_path, class: [:btn, 'btn-default']
