%h1 Listing Roles

%table.datatable
  %tr
    %th Name
    %th

  - @roles.each do |role|
    %tr
      %td= role.name
      %td
        = link_to 'Show', role, class: [:btn, 'btn-default']
        - if can? :update, role
          = link_to 'Edit', edit_role_path(role), class: [:btn, 'btn-default']
        - if can? :destroy, role
          = link_to 'Delete', role, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:btn, 'btn-default']

- if can? :create, Role
  = link_to 'New Role', new_role_path, class: [:btn, 'btn-default']
