%p#notice= notice

%p
  %b Name:
  = @role.name

- if can? :read, User
  %p
    %b Users:
    %ul
      - @role.users.find_each do |user|
        %li= user.full_name

- if can? :update, @role
  = link_to 'Edit', edit_role_path(@role), class: [:btn, 'btn-default']
= link_to 'Back', roles_path, class: [:btn, 'btn-default']
